.project-filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.filter-btn {
    background-color: transparent;
    color: var(--secondaryColor);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.filter-btn.active,
.filter-btn:hover {
    color: var(--accentColor);
}

@media screen and (max-width: 768px) {
    .project-filters {
        flex-wrap: wrap;
    }

    .filter-btn {
        margin-bottom: 0.5rem;
    }
}