:root {
    --primary-color: #000000;
    --secondary-color: #950101;
    --bg-color: #f7f7f5;
    --text-color: #000000;
    --card-bg-color: #ffffff;
    --transition-speed: 0.3s;
}

.projects-section {
    padding: 6rem 0;
    background-color: var(--bg-color);
    min-height: calc(100vh - var(--navHeight));
}

.projects-section h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    color: var(--primary-color);
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.projects-section h1.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
}

.project-filters.visible {
    opacity: 1;
    transform: translateY(0);
}

.filter-btn {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    transition: color var(--transition-speed);
}

.filter-btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--secondary-color);
    transition: width var(--transition-speed), left var(--transition-speed);
}

.filter-btn:hover::after,
.filter-btn.active::after {
    width: 100%;
    left: 0;
}

.projects-grid {
    display: grid;
    margin-top: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s 0.4s, transform 0.5s 0.4s;
}

.projects-grid.visible {
    opacity: 1;
    transform: translateY(0);
}
.project-item {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed);
    display: flex;
    flex-direction: column;
    height: 100%;
    transform: translateY(0); /* Ensure all items start at the same position */
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-content {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed);
    display: flex;
    flex-direction: column;
   
}

.project-image {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-speed);
}

.project-item:hover .project-image img {
    transform: scale(1.1);
}

.project-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--transition-speed);
}

.project-image:hover .overlay {
    opacity: 1;
}

.project-details {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.project-name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.project-info {
    margin-bottom: 1rem;
}

.project-info p {
    margin: 0;
    color: var(--text-color);
}



.project-description {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.button-container {
    margin-top: auto;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;

    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--primary-color);
    transform: translateY(0px);
}
.filter-buttons {
    display: none;
}

#load-more {
    display: block;
    margin: 6rem auto 0;
}

#load-more.visible {
    opacity: 1;
    transform: translateY(0);
}

.dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity var(--transition-speed);
}

.dialog.visible {
    opacity: 1;
}

.dialog-content {
    background-color: var(--card-bg-color);
    margin: 5% auto;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-50px);
    transition: transform var(--transition-speed);
}

.dialog.visible .dialog-content {
    transform: translateY(0);
}

.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color var(--transition-speed);
}

.close:hover {
    color: var(--secondary-color);
}

.mobile-filter-bar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--card-bg-color);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Decrease this value */
}

.mobile-filter-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 0.8rem;
    cursor: pointer;
}

.mobile-filter-btn i {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.mobile-filter-btn.active {
    color: var(--secondary-color);
}


@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-image {
        height: 200px;
    }

    .project-filters {
        display: none;
    }
    .filter-buttons {
        display: flex;}

    .filter-btn {
        margin: 0.5rem;
    }

    .mobile-filter-bar {
        display: flex;
        justify-content: space-around;
    }

    footer {
        display: none;
    }

    .projects-section {
        padding-bottom: 60px; /* Add space for the mobile filter bar */
    }
}